<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Busqueda de expediente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#">
		<img alt="logo" src="uca.jpg" style="width:40px;">
	</a>
	
	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
  	</button>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form th:action="@{/buscar}" th:object="${alumno}" method="post">
                <div class="form-group">
                    <h1>Expediente Alumno - Pantalla Inicial</h1>
                    <label>Buscar alumno por:</label>
                    <select name="busqueda" class="form-control">
                        <option disabled value="">Seleccione criterio(Nombres, Apellidos)</option>
                        <option th:each="item, iter: ${criterios}"
                                th:value="${iter.index}"
                                th:text="${item}">
                    </select>
                </div>
                <div class="form-group">
                    <label>Valor de b&uacute;squeda:</label>
                    <input type="text" name="cadena" class="form-control">
                </div>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>
            <br>
            <form th:action="@{/agregarExpediente}">
                <input type="submit" value="Agregar Nuevo Expediente" class="btn btn-secondary">
            </form>
            <br>
            <h3 th:text="${mensaje}"></h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>