<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Catalogo Centros Escolares</title>
	<title>Inicio de Sesi&oacute;n</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#">
		<img alt="logo" src="uca.jpg" style="width:40px;">
	</a>
	
	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	
	<div class="collapse navbar-collapse" id="collapsibleNavbar" >
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Expedientes</a>
			</li>
			 <li class="nav-item dropdown">
			     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			       Catalogos
			     </a>
			    <div class="dropdown-menu">
			        <a class="dropdown-item" href="/catalogoCentrosE">Centros Escolares</a>
			        <a class="dropdown-item" href="/catalogoMateria">Materias</a>
			        <a class="dropdown-item" href="/catalogoUsuarios">Usuarios del Sistema</a>
			    </div>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link" href="#">Iniciar Sesion</a>
			</li>			  
		</ul>
		
	</div>
</nav>
<div class="container">
	<form th:action="@{/agregarCatUsuario}">
		<div class="form-group">
			<input type="submit" value="Agregar Nuevo Usuario" class="btn btn-primary">
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thread class="thead-dark">
				<th>Acci&oacute;n</th>
				<th>Nombre De Usuario</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Edad</th>
				<th>Departamento</th>
				<th>Municipio</th>
				<th>Direccion</th>
				<th>Estado</th>
			</thread>
			<th:block th:each="usuario, row: ${usuarios}">
		        <tr>
		            <th>
		                <form th:action="@{/editarCatUsuario}">
		                	<div class="form-group">
		                    <input type="hidden" name="codigo" th:value="${usuario.nombreUsuario}">
		                    <input type="submit" value="Editar" class="btn btn-primary">
		                    </div>
		                </form>
		            </th>
		            <th th:text="${usuario.nombreUsuario}"/>
		            <th th:text="${usuario.nombre}"/>
		            <th th:text="${usuario.apellido}"/>
		            <th th:text="${usuario.edadDelegate}"/>
		            <th th:text="${usuario.departamento.nombreDepartamento}"/>
		            <th th:text="${usuario.municipio.nombreMunicipio}"/>
		            <th th:text="${usuario.direccion}"/>
		            <th th:text="${usuario.estadoDelegate}"/>
		        </tr>
		 </th:block>
		</table>
		<form th:action="@{/menuAdministrador}">
		<div class="form-group">
			<input type="submit" value="Regresar" class="btn btn-secondary">
		</div>
		</form>
	</div>
</div>
</body>
</html>