<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guardar Materia Cursada</title>
</head>
<body>

<form th:action="@{/guardarM}" th:object="${AlumnoMateria}" method="post">

  <!-- <label>Alumno:</label>
    <th th:text="${alumno.nombre}"></th>
    <input th:field="${AlumnoMateria.alumno}" type="hidden" value="${alumno.nombre}">-->

    <select th:field="${AlumnoMateria.materia}">
        <option th:each="p : ${materias}"
                th:value="${p.codMateria}"
                th:text="${p.nomMateria}"></option>
    </select>

    <label>Año:</label><input type="number" th:field="*{AlumnoMateria.materia.year}">
    <span th:errors="*{AlumnoMateria.materia.year}"  style="color: #FF0000"/><br>

    <label>Ciclo:</label><input type="number" th:field="*{AlumnoMateria.materia.cicle}">
    <span th:errors="*{AlumnoMateria.materia.cicle}"  style="color: #FF0000"/><br>
    <label>Nota:</label><input type="number" th:field="*{AlumnoMateria.materia.nota}">
    <span th:errors="*{AlumnoMateria.materia.nota}"  style="color: #FF0000"/><br>
    <input type="submit" value="Save"/><br>



</form>
</body>
</html>