<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Procesos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#">
		<img alt="logo" src="uca.jpg" style="width:40px;">
	</a>
	
	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
  	</button>

</nav>
<br>
<div class="container">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<form th:action="@{/catalogoCentrosE}">
			<div class="form-group">
		    <input type="submit" value="Ingresar a Catalogo de Centros Escolares" class="btn btn-primary">
		    </div>
		</form>
		<form th:action="@{/catalogoMateria}">
			<div class="form-group">
		    <input type="submit" value="Ingresar a Catalogo de Materias" class="btn btn-primary">
		    </div>
		</form>
		<form th:action="@{/catalogoUsuarios}">
			<div class="form-group">
		    <input type="submit" value="Ingresar a Catalogo de Usuarios" class="btn btn-primary">
		    </div>
		</form>
	</div>
	<div class="col-sm-2"></div>
</div>
</body>
</html>