<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias Cursadas</title>
</head>
<body>

<table>
    <thead>
    <th>Acción</th>
    <th>Materia Cursada</th>
    <th>Año</th>
    <th>Ciclo</th>
    <th>Nota</th>
    <th>Resultado</th>
    </thead>

    <th:block th:each="alumnoM, row:${mat}">
        <tr>
            <th>
            <form th:action="@{/editar}">
                <input type="hidden" name="codigo" th:value="${alumnoM.materia.codMateria}">
                <input type="submit" value="Edit">
            </form>
            </th>
           <th th:text="${alumnoM.materia.nomMateria}"/>
           <th th:text="${alumnoM.materia.year}"/>
           <th th:text="${alumnoM.materia.cicle}"/>
            <th th:text="${alumnoM.nota}">
            <!--<th th:text="${alumnoM.delegateResultado}"/>-->
        </tr>
    </th:block>
</table>

<form th:action="@{/insertarMateria}">
    <input type="submit" value="Guardar Materia">
</form>


</body>
</html>