<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias Cursadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#">
		<img alt="logo" src="uca.jpg" style="width:40px;">
	</a>
	
	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	
	<div class="collapse navbar-collapse" id="collapsibleNavbar" >
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Expedientes</a>
			</li>
			 <li class="nav-item dropdown">
			     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			       Catalogos
			     </a>
			    <div class="dropdown-menu">
			        <a class="dropdown-item" href="#">Centros Escolares</a>
			        <a class="dropdown-item" href="#">Materias</a>
			        <a class="dropdown-item" href="#">Usuarios del Sistema</a>
			    </div>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link" href="#">Iniciar Sesion</a>
			</li>			  
		</ul>
		
	</div>
</nav>
<div class="container">
	<div class="row">
	<div class="table-responsive">
			<h2 class="label label-default">Alumno:</h2>
			<h2 th:text="${alumno.nombres}" class="label label-default"></h2>
			<h2 th:text="${alumno.apellidos}" class="label label-default"></h2> <br><br>
			<table class="table table-striped table-bordered">
			    <thead class="thead-dark">
			    <th>Acción</th>
			    <th>Materia Cursada</th>
			    <th>Año</th>
			    <th>Ciclo</th>
			    <th>Nota</th>
			    <th>Resultado</th>
			    </thead>
			
			    <th:block th:each="alumnoM, row:${mat}">
			        <tr>
			            <th>
			            <form th:action="@{/editarMateria}">
			            	<div class="form-group">
			                <input type="hidden" name="codigo" th:value="${alumnoM.codigoMateria}" >
			                <input type="hidden" name="codigoEstudiante" th:value="${alumno.codigoEstudiante}">
			                </div>
			                <input type="submit" value="Edit" class="btn btn-primary">
			            </form>
			            </th>
			           <th th:text="${alumnoM.catalogoMateria.nomMateria}"/>
			           <th th:text="${alumnoM.year}"/>
			           <th th:text="${alumnoM.cicle}"/>
			            <th th:text="${alumnoM.nota}">
			            <th th:text="${alumnoM.resultado}"/>
			        </tr>
			    </th:block>
			</table>
			
			<form th:action="@{/insertarMateria}" method="get">
				<div class="form-group" >
			    <input type="hidden" name="codigo" th:value="${alumno.codigoEstudiante}">
			    </div>
			    <input type="submit" value="Nueva Materia Cursada" class="btn btn-primary">
			</form>
			<p><a href="/expediente">Regresar</a></p>
	</div>
	</div>
</div>
</body>
</html>