<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias Cursadas</title>
</head>
<body>

<label>Alumno:</label>
<th th:text="${alumno.nombres}"></th>
<th th:text="${alumno.apellidos}"/> <br><br>
<table>
    <thead>
    <th>Acción</th>
    <th>Materia Cursada</th>
    <th>Año</th>
    <th>Ciclo</th>
    <th>Nota</th>
    <th>Resultado</th>
    </thead>

    <th:block th:each="alumnoM, row:${mat}">
        <tr>
            <th>
            <form th:action="@{/editarMateria}">
                <input type="hidden" name="codigo" th:value="${alumnoM.codigoMateria}">
                <input type="hidden" name="codigoEstudiante" value="alumno.codigoEstudiante">
                <input type="submit" value="Edit">
            </form>
            </th>
           <th th:text="${alumnoM.catalogoMateria.nomMateria}"/>
           <th th:text="${alumnoM.year}"/>
           <th th:text="${alumnoM.cicle}"/>
            <th th:text="${alumnoM.notaMateria}">
            <th th:text="${alumnoM.resultado}"/>
        </tr>
    </th:block>
</table>

<form th:action="@{/insertarMateria}" method="get">
    <input type="hidden" name="codigo" th:value="${alumno.codigoEstudiante}">
    <input type="submit" value="Nueva Materia Cursada">
</form>


</body>
</html>