<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Inicio de Sesi&oacute;n</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h1>Iniciar Sesi&oacute;n</h1>
        <div>
            <label>Nombre de usuario:</label>
            <input type="text" name="username">
        </div>
        <br>
        <div>
            <label>Contrase&ntilde;a:</label>
            <input type="password" name="password">
        </div>
        <br>
        <div th:if="${param.error}" style="color: red" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            Reason: <span th:text="${errorMsg}">Wrong input!</span>

        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <br>
        <input type="submit" value="Iniciar Sesi&oacute;n">
    </form>
    <div class="error"
         th:if="${param.login_error}"
         th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    Your login attempt was not successful, try again.<br />
    Reason: <span th:text="${errorMsg}">Wrong input!</span>
    </div>
    <br>
    <a href="/registro"> Registro </a>
</body>
</html>