<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Inicio de Sesi&oacute;n</title>
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <h1>Iniciar Sesi&oacute;n</h1>
        <div>
            <label>Nombre de usuario:</label>
            <input type="text" name="username">
        </div>
        <br>
        <div>
            <label>Contrase&ntilde;a:</label>
            <input type="password" name="password">
        </div>
        <br>
        <input type="submit" value="Iniciar Sesi&oacute;n">
    </form>
    <br>
    <a href="/registro"> Registro </a>
</body>
</html>