<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Inicio de Sesi&oacute;n</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">
        <img alt="logo" src="#" style="width:40px;">
    </a>

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form th:action="@{/saveCatCentro}" th:object="${centro}" method="post">
                <div class="form-group">
                    <label class="label label-default">Ingresar Nuevo Centro Escolar</label>
                </div>
                <div class="form-group">
                    <label class="label label-default">Nombre de Centro Escolar: </label>
                    <input th:field="*{nombreInstitucion}" type="text">
                    <span th:errors="*{nombreInstitucion}" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label class="label label-default">Descripcion: </label>
                    <textarea th:field="*{descripcion}"></textarea>
					<span th:errors="*{descripcion}" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label class="label label-default">Direccion: </label>
                    <input th:field="*{direccion}" type="text">
					<span th:errors="*{direccion}" class="text-danger"></span><br>
                </div>

                <div class="form-group">
                    <label class="label label-default">Municipio: </label>
                    <select th:field="*{municipio.idMunicipio}">
                        <option th:each="mun : ${municipios}" th:value="${mun.idMunicipio}"
                                th:text="${mun.nombreMunicipio}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label label-default">Departamento: </label>
                    <select th:field="*{departamento.idDepartamento}">
                        <option th:each="dep : ${departamentos}" th:value="${dep.idDepartamento}"
                                th:text="${dep.nombreDepartamento}"></option>
                    </select>
                </div>
                <div class="form-check">
                    <label class="label label-default">Estado: </label>
                    <select th:field="*{estado}">
                        <option th:value="true" th:text="Activo"></option>
                        <option th:value="false" th:text="Inactivo"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </form>
            <form th:action="@{/catalogoCentrosE}">
                <div class="form-group">
                    <input type="submit" value="Regresar" class="btn btn-secondary">
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>