<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Nueva cuenta</title>
</head>
<body>
<form method="post" th:action="@{/guardarUsuario}" th:object="${usuario}">
    <h1>Nueva cuenta</h1>
    <label>Nombre:</label>
    <input th:field="*{nombre}" type="text">
    <span style="color: red" th:errors="*{nombre}"></span><br>
    <br>
    <label>Apellido:</label>
    <input th:field="*{apellido}" type="text">
    <span style="color: red" th:errors="*{apellido}"></span><br>
    <br>
    <label>Fecha de Nacimiento</label>
    <input th:field="*{fechaNacimiento}" type="text">
    <span style="color: red" th:errors="*{fechaNacimiento}"></span><br>
    <br>
    <label>Departamento: </label>
    <select th:field="*{departamento.idDepartamento}">
        <option th:each="item : ${departamentos}"
                th:text="${item.nombreDepartamento}"
                th:value="${item.idDepartamento}">
    </select>
    <span style="color: red" th:errors="*{departamento}"></span><br>
    <br>
    <label>Municipio:</label>
    <select th:field="*{municipio.idMunicipio}">
        <option th:each="item : ${municipios}"
                th:text="${item.nombreMunicipio}"
                th:value="${item.idMunicipio}">
    </select>
    <span style="color: red" th:errors="*{municipio}"></span><br>
    <br>
    <label>Direcci&oacute;n:</label>
    <input th:field="*{direccion}" type="text">
    <span style="color: red" th:errors="*{direccion}"></span><br>
    <br>
    <label>Nombre de usuario: </label>
    <input th:field="*{nombreUsuario}" type="text">
    <span style="color: red" th:if="${duplicate == true}">Nombre de usuario ya existente</span>
    <span style="color: red" th:errors="*{nombreUsuario}"></span><br>
    <br>
    <label>Contrase&ntilde;a: </label>
    <input th:field="*{contrasenia}" type="text">
    <span style="color: red" th:errors="*{contrasenia}"></span><br>
    <br>
    <br>
    <label>Activo:</label><br />
    <input type="checkbox" th:field="*{estado}"><br>
    <label> Rol: </label><br />
    Administrador: <input type="radio" id="admin" name="authority" value="ADMIN" th:required="required"/>
    Coordinador: <input type="radio" id="coord" name="authority" value="COORD" th:required="required" /><br />
    <input type="submit" value="Registrar">
</form>
</body>
</html>